.gallery2 {
  margin-top: 100px;
  position: fixed;
  background: transparent;
  display: block;
  border-radius: 8px;
  transition: 0.3s ease background-color;
}

.gallery3 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;

  padding: 0 12px;
}
.galleryFP {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;

  padding: 0 12px;
}
.Texto {
  display: inline-block;
  font-family: "RobotoMono Regular";
  padding: 5px;
  font-size: 2rem;
  color: var(--gary-1);
  outline: none;
  background-color: var(--dark-bg);
}
.Texto:hover {
  background-color: #4caf50; /* Green */
  color: white;
  cursor: pointer;
}

.pics2:hover {
  opacity: 0.5;
  color: white;
}
.cont {
  position: relative;
  text-align: center;
  color: white;
  height: 400px;
  width: 350px;
}
.contFP {
  position: relative;
  text-align: center;
  color: white;
  height: 400px;
  width: 350px;
  margin-left: 60px;
}

.contFP:hover {
  opacity: 0.5;
  color: white;
}
.contBB {
  position: relative;
  text-align: center;
  color: white;
  height: 600px;
  width: 350px;
  margin-left: 320px;
}

.contBB:hover {
  opacity: 0.5;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
}
